In [8]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats

from sklearn.model_selection import train_test_split

In [16]:
data = pd.read_csv('./data.csv/new_clean_data.csv')

In [17]:
data.head(10)

,income,educ_bag,occ_status,state_req,pers_ben,tech_ad,rel_aff,edu_level,decision_influence,experi_impli,target
0,800.0,1,0,1,1,0,0,1,0,1,0
1,800.0,1,0,1,1,1,1,1,0,1,0
2,800.0,0,2,1,1,1,1,1,0,2,0
3,1600.0,1,2,1,1,1,1,1,0,0,0
4,800.0,1,0,0,0,1,0,0,1,1,0
5,800.0,1,0,1,1,1,1,1,0,1,0
6,800.0,1,0,1,1,1,1,1,1,2,0
7,1600.0,1,2,1,1,1,1,1,1,1,1
8,800.0,1,0,1,1,1,0,1,0,1,0
9,2500.0,1,2,1,1,1,0,1,0,1,0

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   income              256 non-null    float64
 1   educ_bag            256 non-null    int64
 2   occ_status          256 non-null    int64
 3   state_req           256 non-null    int64
 4   pers_ben            256 non-null    int64
 5   tech_ad             256 non-null    int64
 6   rel_aff             256 non-null    int64
 7   edu_level           256 non-null    int64
 8   decision_influence  256 non-null    int64
 9   experi_impli        256 non-null    int64
 10  target              256 non-null    int64
dtypes: float64(1), int64(10)
memory usage: 22.1 KB

In [19]:
y = data['target']
X = data.drop(columns = 'target')

In [20]:
X_train,y_train,X_test,y_test = train_test_split(X,y, test_size = 0.2, random_state=42)

0      0
1      0
2      0
3      0
4      0
      ..
251    0
252    1
253    1
254    1
255    0
Name: target, Length: 256, dtype: int64

In [26]:
insurance_mod = sm.Logit(y,X).fit()

Optimization terminated successfully.
         Current function value: 0.460135
         Iterations 7

In [29]:
print(insurance_mod.summary2())

                          Results: Logit
==================================================================
Model:               Logit            Method:           MLE
Dependent Variable:  target           Pseudo R-squared: 0.333
Date:                2023-09-05 13:13 AIC:              255.5892
No. Observations:    256              BIC:              291.0410
Df Model:            9                Log-Likelihood:   -117.79
Df Residuals:        246              LL-Null:          -176.66
Converged:           1.0000           LLR p-value:      3.8780e-21
No. Iterations:      7.0000           Scale:            1.0000
------------------------------------------------------------------
                    Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
------------------------------------------------------------------
income              0.0003   0.0002  1.5024 0.1330 -0.0001  0.0008
educ_bag           -2.4791   0.6787 -3.6526 0.0003 -3.8093 -1.1488
occ_status          0.9578   0.2137  4.4824 0.0000  0.5390  1.3767
state_req          -0.4959   0.5619 -0.8825 0.3775 -1.5971  0.6054
pers_ben            0.5397   0.7275  0.7418 0.4582 -0.8863  1.9656
tech_ad             0.6408   0.5447  1.1763 0.2395 -0.4269  1.7085
rel_aff             1.0074   0.3830  2.6302 0.0085  0.2567  1.7581
edu_level          -0.9415   0.7135 -1.3197 0.1869 -2.3399  0.4568
decision_influence  0.2082   0.3668  0.5677 0.5703 -0.5107  0.9272
experi_impli        0.4645   0.2663  1.7446 0.0811 -0.0573  0.9864
==================================================================

In [30]:
print(insurance_mod.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  256
Model:                          Logit   Df Residuals:                      246
Method:                           MLE   Df Model:                            9
Date:                Tue, 05 Sep 2023   Pseudo R-squ.:                  0.3332
Time:                        13:14:16   Log-Likelihood:                -117.79
converged:                       True   LL-Null:                       -176.66
Covariance Type:            nonrobust   LLR p-value:                 3.878e-21
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
income                 0.0003      0.000      1.502      0.133      -0.000       0.001
educ_bag              -2.4791      0.679     -3.653      0.000      -3.809      -1.149
occ_status             0.9578      0.214      4.482      0.000       0.539       1.377
state_req             -0.4959      0.562     -0.883      0.378      -1.597       0.605
pers_ben               0.5397      0.728      0.742      0.458      -0.886       1.966
tech_ad                0.6408      0.545      1.176      0.239      -0.427       1.708
rel_aff                1.0074      0.383      2.630      0.009       0.257       1.758
edu_level             -0.9415      0.713     -1.320      0.187      -2.340       0.457
decision_influence     0.2082      0.367      0.568      0.570      -0.511       0.927
experi_impli           0.4645      0.266      1.745      0.081      -0.057       0.986
======================================================================================